<div class="myCarousel">
    <!-- data-interval = "10000": sau 10s chuyen slide -->
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">
  
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
  
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://s3img.vcdn.vn/123phim/2019/06/x-men-15598808044369.jpg" alt="Los Angeles">
          <div class="overlay"></div>
          <div class="carousel__caption">
            <h4 class="title">ACTION, ADVENTURE, FANTASY</h4>
            <h1 class="display-4 text-white">End of the World: Part I</h1>
            <p class="text-white">Claritas est etiam processus dynamicus, qui sequitur mutationem
              consuetudium lectorum. Mirum
              est notare quam littera gothica, quam nunc putamu.</p>
            <div class="button">
              <span class="text-white">PG</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-play"></i>
                PLAY TRAILER
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://s3img.vcdn.vn/123phim/2019/06/god-15601537188192.jpg" alt="Chicago">
          <div class="overlay"></div>
          <div class="carousel__caption">
            <h4 class="title">ACTION, ADVENTURE, FANTASY</h4>
            <h1 class="display-4 text-white">End of the World: Part I</h1>
            <p class="text-white">Claritas est etiam processus dynamicus, qui sequitur mutationem
              consuetudium lectorum. Mirum
              est notare quam littera gothica, quam nunc putamu.</p>
            <div class="button">
              <span class="text-white">PG</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-play"></i>
                PLAY TRAILER
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://s3img.vcdn.vn/123phim/2019/06/pets-2-15598811587741.jpg" alt="New York">
          <div class="overlay"></div>
          <div class="carousel__caption">
            <h4 class="title">ACTION, ADVENTURE, FANTASY</h4>
            <h1 class="display-4 text-white">End of the World: Part I</h1>
            <p class="text-white">Claritas est etiam processus dynamicus, qui sequitur mutationem
              consuetudium lectorum. Mirum
              est notare quam littera gothica, quam nunc putamu.</p>
            <div class="button">
              <span class="text-white">PG</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-play"></i>
                PLAY TRAILER
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>