<div class="schedule">
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#mon">Phim đang chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tues">Phim Sắp Chiếu</a>
        </li>
      </ul>
  
      <!-- Tab panes Phim đang chiếu -->
      <div class="tab-content">
        <div class="tab-pane container active" id="mon">
          <div class="container py-5">
  
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let item of danhSachPhim" > 

                <!-- item phim component -->
                <app-item-phim [phim]="item"></app-item-phim>

              </div>
            </div>
  
          </div>
        </div>

        <!-- Tab panes Phim sap chiếu -->
        <div class="tab-pane container fade" id="tues">
          <div class="tab-pane container active" id="mon">
            <div class="container py-5">
  
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2018/11/dang-cap-thu-cung-2-the-secret-life-of-pets-2-15423580835138_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-Men</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2018/11/dang-cap-thu-cung-2-the-secret-life-of-pets-2-15423580835138_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-Men</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2018/11/dang-cap-thu-cung-2-the-secret-life-of-pets-2-15423580835138_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-Men</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2019/05/x-men-phuong-hoang-bong-toi-x-men-dark-phoenix-15578101642840_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-MenMenMenMenMenMenMenMenMenMenMenMen</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2019/05/x-men-phuong-hoang-bong-toi-x-men-dark-phoenix-15578101642840_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-MenMenMenMenMenMenMenMenMenMenMenMen</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2019/05/x-men-phuong-hoang-bong-toi-x-men-dark-phoenix-15578101642840_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-MenMenMenMenMenMenMenMenMenMenMenMen</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2019/05/x-men-phuong-hoang-bong-toi-x-men-dark-phoenix-15578101642840_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-MenMenMenMenMenMenMenMenMenMenMenMen</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="showing__item">
                    <img
                      src="https://s3img.vcdn.vn/mobile/123phim/2019/05/x-men-phuong-hoang-bong-toi-x-men-dark-phoenix-15578101642840_370x490.jpg"
                      alt="">
                    <div class="showing__overlay"></div>
                    <div class="showing__content text-white">
                      <div class="play">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <p>X-MenMenMenMenMenMenMenMenMenMenMenMen</p>
                      <p>Released: 7 Mar, 2017</p>
                    </div>
                  </div>
                  <div class="showing__rating">
                    <p>HUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHHHUSHHUSHHUSHH</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>