<div class="schedule">
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#mon">Phim đang chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tues">Phim Sắp Chiếu</a>
        </li>
      </ul>
  
      <!-- Tab panes Phim đang chiếu -->
      <div class="tab-content">
        <div class="tab-pane container active" id="mon">
          <div class="container py-5">
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let item of danhSachPhim" > 

                <!-- item phim component -->
                <app-item-phim data-toggle="modal" data-target="#myModalTrailer" [phim]="item" 
                (eventPhim)="xemTrailer($event)">
                </app-item-phim>

              </div>
            </div>
           
          </div>
          
        </div>

        <!-- Tab panes Phim sap chiếu -->
        <div class="tab-pane container fade" id="tues">
          <div class="tab-pane container active" id="mon">
            <div class="container py-5">
  
              <div class="row">
                  <div class="col-md-3 col-sm-6" *ngFor="let item of danhSachPhimSapChieu" > 
                      <!-- item phim component -->
                      <app-item-phim data-toggle="modal" data-target="#myModalTrailer" [phim]="item" 
                      (eventPhim)="xemTrailer($event)"></app-item-phim>
      
                  </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- The Modal -->
 <div class="modal fade" id="myModalTrailer">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
          <button type="button" class="close btn btn-danger" data-dismiss="modal" (click)="tatTrailer()">&times;</button>
          <!-- <iframe #youtube width="300" height="315" [src]="safeSrc" frameborder="0" allowfullscreen></iframe> -->
          <ng-template #KoTrailer>
              <div [innerHtml]="iframe_html" frameborder="0"></div>
          </ng-template>
          <ng-container *ngIf="iframe_html === null; else KoTrailer">
              <div > Chua co video</div>
          </ng-container>
          
      </div>


    </div>
  </div>
</div>