<div class="schedule2">
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#review">Review Phim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#km">Khuyến Mãi</a>
        </li>
      </ul>
  
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="review">
          <div class="best_seller2">
            <div class="items">
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/06/7830bf029e5f758f27b94df028211e6c.jpg" alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img
                  src="https://s3img.vcdn.vn/123phim/2019/05/godzilla-va-nhung-dieu-ban-chua-biet-p2-15590181365234.jpg"
                  alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- BEST SELL -->
          <div class="best_sell">
            <div class="items">
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/05/a7efbb6a8e9a8260da18466de31aa362.jpg" alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img
                  src="https://s3img.vcdn.vn/123phim/2019/05/review-pokemon-detective-pikachu-deadpool-pikachu-15579176918279.jpg"
                  alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img
                  src="https://s3img.vcdn.vn/123phim/2019/05/review-the-hustle-that-nuc-cuoi-ke-bi-lua-lai-muon-di-lua-nguoi-khac-15576626833364.jpg"
                  alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img
                  src="https://s3img.vcdn.vn/123phim/2019/05/review-aladdin-song-lai-tuoi-tho-day-mau-sac-voi-bo-phim-hoat-hinh-dinh-dam-bac-nhat-disney-15588702436645.jpg"
                  alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane container fade" id="km">
          <div class="best_seller2">
            <div class="items">
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/05/69k-ve-bhd-star-dong-gia-moi-ngay-15586880860497.jpg" alt="">
                <h5>110k/vé CGV - Đồng giá mỗi ngày</h5>
              </div>
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/05/39k-ve-cinestar-thu-7-cuc-da-15589435953132.jpg" alt="">
                <h5>Happy day với 75k tất cả các suất chiếu</h5>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- BEST SELL -->
          <div class="best_sell">
            <div class="items">
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/05/123phim-tixshop-tro-lai-qua-xin-hon-xua-15583511037699.jpg" alt="">
                <h5>TixShop trở lại, quà ‘xịn’ hơn xưa </h5>
                <p>Hàng loạt vật phẩm hấp dẫn, cực HOT và đặc biệt với giá cực kỳ ưu đãi:</p>
              </div>
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/05/galaxy-trang-thi-xem-phim-hay-say-qua-tang-15572160162243.jpg" alt="">
                <h5>Xem Phim Hay, Say Quà Tặng</h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/06/7830bf029e5f758f27b94df028211e6c.jpg" alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="item">
                <img src="https://s3img.vcdn.vn/123phim/2019/06/7830bf029e5f758f27b94df028211e6c.jpg" alt="">
                <h5>Người tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: </h5>
                <p>Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>