<div class="showing__item">
    <img [src]= "phim.HinhAnh" alt="">
    <div class="showing__overlay"></div>
    <div class="showing__content text-white">
      <div class="play">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <p>{{ phim.TenPhim }}</p>
      <p>Released: 7 Mar, 2017</p>
    </div>
  </div>
  <div class="showing__rating">
    <p>{{ phim.TenPhim }}</p>
    <div class="star">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </div>